/* Скидання марджинів*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Скидання маркера у списках  */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Скидання підкреслення у посиланнях */
a {
  text-decoration: none;
}

/* Змінює тип елемента img  */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
