%inline-flex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

%btn-menu {
  display: block;
  margin-left: auto;
  margin-right: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

%btn-base {
  @extend %inline-flex-center;
  cursor: pointer;
  border-radius: 10px;
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  &:focus {
    color: $white;
    outline: none;
  }
}

%btn-fill {
  background-color: $accent-color;
  border: none;
  &:hover,
  &:focus {
    background-color: $button-hover;
  }
  &:disabled {
    background-color: $button-disabled;
  }
}

%btn-outlined {
  border: 2px solid $accent-color;
  &:hover,
  &:focus {
    border-color: $button-hover;
  }
  &:disabled {
    border-color: $button-disabled;
  }
}

%none-min {
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
%icon-hover {
  /* fill: $accentColor; */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
