* {
  cursor: url('../images/cursor.svg'), auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $color-primary;
  background-color: $background-color;
  margin-left: auto;
  margin-right: auto;
}

.scroll-block {
  overflow: hidden;
}
