$color-primary: rgba(19, 19, 19, 1);
$background-color: rgba(132, 161, 120, 1);
$secondary-text-color: rgba(252, 252, 252, 1);
$hover-color: rgba(214, 147, 109, 1);
$accent-color: rgba(248, 210, 78, 1);
$white: rgba(255, 255, 255, 1);
$button-hover: rgba(10, 136, 23, 1);
$button-disabled: rgba(171, 171, 171, 1);
$copyright: rgba(122, 122, 122, 1);
