:root  {
    --primary-text-color: rgba(19, 19, 19, 1);
    --secondary-text-color: rgba(252, 252, 252, 1);
    --background-color: rgba(132, 161, 120, 1);
    --accent-color: rgba(248, 210, 78, 1);
    --copyright: rgba(122, 122, 122, 1);
    --hover-color:rgba(214, 147, 109, 1);
    --working-hours: rgba(171, 171, 171, 1);
}