<section class="about">
  <div class="about-container container">
    <p class="about-label">tradition and love</p>
    <h2 class="about-title">how it`s made?</h2>
    <div class="about-info">
      <!-- <img
        class="about-picture"
        src="./images/about/cow.png"
        alt="cow-on-the-field"
        width="280"
        height="300"
      /> -->
      <div class="about-info__discription">
        <p class="about-info__text">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="about-info__more">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
          <span class="about-info__extra"
            >This is enough to choose ice cream and coffee for any mood!</span
          >
        </p>
        <button class="about-read-more header-button" type="button">
          Read more<span class="header-button__icon-container">
            <i class="header-button__icon"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
