<section class="about">
  <div class="about-container container">
    <p class="about-label">tradition and love</p>
    <h2 class="about-title">how it`s made?</h2>
    <div class="about-info">
      <div class="about-picture">
        <picture>
          <source
            srcset="
              ./images/about/cow-desktop-1x.png 1x,
              ./images/about/cow-desktop-2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/about/cow-tablet-1x.png 1x,
              ./images/about/cow-tablet-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/about/cow-mob-1x.png 1x,
              ./images/about/cow-mob-2x.png 2x
            "
            media="(min-width:480px)"
          />
          <img
            class="about-picture-cow animate__animated animate__bounce"
            srcset="
              ./images/about/cow-min-1x.png 1x,
              ./images/about/cow-min-2x.png 2x
            "
            src="./images/about/cow-min-1x.png"
            alt="cow-on-the-field"
          />
        </picture>
      </div>
      <div class="about-info__discription">
        <p class="about-info__text">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="about-info__more">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="about-info__extra">
          This is enough to choose ice cream and coffee for any mood!
        </p>
        <button
          class="js-open-modal header-button" 
          data-modal="1"
          type="button"
        >
          Read more<span class="header-button__icon-container">
            <i class="header-button__icon"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>

<!-- <div class="backdrop is-hidden">
  <div data-modal class="read-more-modal__container">
    <button js-modal-close class="js-modal-close read-more-close">
      <svg class="modal-close-icon" width="20" height="20">
        <use href="./images/about/read-more-close.svg"></use>
      </svg>
    </button>
    <h3 class="read-more__title">How it’s made?</h3>
  </div>
</div> -->
