<section class="advantages">
    <div class="container"> 
    <title class="advantages__title">IceCream Advantages</title>
    <ul class="advantages__list"> 
        <li class="advantages__item first">
            <div class="advantages__block"></div>
            <p class="advantages__value">721</p>
            <p class="advantages__description">Aliquam ac dui vel dui vulputate <br> consectetur. Mauris massa. </br> </p>
        </li>
    
        <li class="advantages__item second">
            <div class="advantages__block"></div>
            <p class="advantages__value">16KG</p>
            <p class="advantages__description">Aliquam ac dui vel dui vulputate <br> consectetur. Mauris massa. </br> </p>
        </li>
    
        <li class="advantages__item third">
            <div class="advantages__block "></div>
            <p class="advantages__value">84</p>
            <p class="advantages__description">Aliquam ac dui vel dui vulputate <br> consectetur. Mauris massa. </br> </p>
        </li>
    </ul>

    </div>
    </section>