<div class="backdrop is-hidden">
  <div class="buy-now-modal__container">
    <div class="close">
      <button type="button" class="buy-now__close">
        <svg width="18px" height="18px" class="modal-close">
          <use href=" "></use>
        </svg>
      </button>
    </div>
    <h3 class="buy-now__title">Buy now</h3>
    <ul class="list buy-now__list">
      <li class="buy-now__item buy-now__item-1">
        <div class="buy-now__box buy-now__box-1">
          <div class="buy-now__item__title">
            <p>ICE CREAM</p>
          </div>
        </div>
      </li>
      <li class="buy-now__item buy-now__item-2">
        <div class="buy-now__box buy-now__box-2">
          <div class="buy-now__item__title">
            <p>ICE COFFEE</p>
          </div>
        </div>
      </li>
      <li class="buy-now__item buy-now__item-3">
        <div class="buy-now__box buy-now__box-3">
          <div class="buy-now__item__title">
            <p>MILKSHAKE</p>
          </div>
        </div>
      </li>
    </ul>
    <form class="byu-now-form" autocomplete="on">
      <div class="buy-now-form__field">
        <label for="name"></label>
        <input type="text" name="name" id="name" placeholder="Name" autofocus />
      </div>
      <div class="buy-now-form__field">
        <label for="tel"></label>
        <input type="tel" name="tel" id="tel" placeholder="Phone" autofocus />
      </div>
      <div class="buy-now-form__field__comment">
        <label for="comment"></label>
        <textarea
          name="comment"
          id="comment"
          class="comment__placeholder"
          placeholder="Comment"
        ></textarea>
      </div>
      <button type="submit" class="submission__btn">Submit</button>
    </form>
  </div>
</div>
