<div class="backdrop is-hidden">
  <div class="buy-now-modal__container">
    <h3 class="buy-now__title">Buy now</h3>
    <ul class="list buy-now__list">
      <li class="buy-now__item">
        <div class="buy-now__box buy-now__box-1">
          <p>Ice Cream</p>
        </div>
      </li>
      <li>
        <div class="buy-now__box buy-now__box-2">
          <p>Ice Coffee</p>
        </div>
      </li>
      <li>
        <div class="buy-now__box buy-now__box-3">
          <p>Milkshake</p>
        </div>
      </li>
    </ul>
    <form class="byu-now-form" autocomplete="on">
      <div class="buy-now-form__field">
        <label for="name"></label>
        <input type="text" name="name" id="name" placeholder="Name" autofocus />
      </div>
      <div class="buy-now-form__field">
        <label for="tel"></label>
        <input type="tel" name="tel" id="tel" placeholder="Phone" autofocus />
      </div>
      <div class="buy-now-form__field__comment">
        <label for="comment"></label>
        <textarea
          name="comment"
          id="comment"
          class="comment__placeholder"
          placeholder="Comment"
        ></textarea>
      </div>
      <button type="submit" class="submission__btn">Submit</button>
    </form>
  </div>
</div>
