<section class="contacts">
  <div class="container">

    <div class="contacts-box">
      <ul class="contacts-card">
        <li class="contacts-card__type">
          <p class="contacts-place">CAFE</p>
        </li>
        <li class="contacts-card__city">Chicago</li>
        <li class="contacts-card__adress">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</li>
        <li class="contacts-card__timetable">
          <p>Monday - Friday</p>
          <p class="contacts-card__timetable-color timetable-distance">06:00 AM - 10:00 PM</p>
          <p>Saturday - Sunday</p>
          <p class="contacts-card__timetable-color">08:00 AM - 16:00 PM</p>
        </li>
        <li>
          <ul class="contacts-card__info">
            <li><a href="tel:+610383766284" class="contacts-card__tel">+61(0) 383 766 284</a></li>
            <li><a href="mailto:noreply@envato.com" class="contacts-card-info__mail">noreply@envato.com</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="contacts-card">
        <li class="contacts-card__type">
          <p class="contacts-place">FOODTRUCK</p>
        </li>
        <li class="contacts-card__city">Los Angeles</li>
        <li class="contacts-card__adress">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</li>
        <li class="contacts-card__timetable">
          <p>Monday - Friday</p>
          <p class="contacts-card__timetable-color timetable-distance">06:00 AM - 10:00 PM</p>
          <p>Saturday - Sunday</p>
          <p class="contacts-card__timetable-color">08:00 AM - 16:00 PM</p>
        </li>
        <li>
          <ul class="contacts-card__info">
            <li><a href="tel:+610383766284" class="contacts-card__tel">+61(0) 383 766 284</a></li>
            <li><a href="mailto:noreply@envato.com" class="contacts-card-info__mail">noreply@envato.com</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="contacts-card">
        <li class="contacts-card__type">
          <p class="contacts-place">CAFE</p>
        </li>
        <li class="contacts-card__city">New York</li>
        <li class="contacts-card__adress">726 Sterling Pl, Brooklyn, NY 11222, USA</li>
        <li class="contacts-card__timetable">
          <p>Monday - Friday</p>
          <p class="contacts-card__timetable-color timetable-distance">06:00 AM - 10:00 PM</p>
          <p>Saturday - Sunday</p>
          <p class="contacts-card__timetable-color">08:00 AM - 16:00 PM</p>
        </li>
        <li>
          <ul class="contacts-card__info">
            <li><a href="tel:+610383766284" class="contacts-card__tel">+61(0) 383 766 284</a></li>
            <li><a href="mailto:noreply@envato.com" class="contacts-card-info__mail">noreply@envato.com</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <button type="button" class="contacts-button-location">Our Locations
      <span class="header-button__icon-container">
        <i class="header-button__icon"></i>
      </span>
    </button>
    <button type="button" class="contacts-button-franchise">Franchise
      <span class="header-button__icon-container">
        <i class="header-button__icon"></i>
      </span>
    </button>
  </div>

</section>