<footer class="footer">
  <div class="container">
    <div class="footer-box">
      <ul class="footer-header">
        <li class="footer-header__pretitle">homemade ice cream made</li>
        <li class="footer-header__title">with passion</li>
      </ul>
      <div class="footer-contacts">
        <ul class="footer-social">
          <li class="footer-social__item">
            <a href="#" class="footer-social__link">
              <svg width="20px" height="20px" class="footer-social__icons">
                <use href="./images/footer/icons.svg#icon-git">
                </use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link">
              <svg width="20px" height="20px" class="footer-social__icons">
                <use href="./images/footer/icons.svg#icon-telegram">
                </use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link">
              <svg width="20px" height="20px" class="footer-social__icons">
                <use href="./images/footer/icons.svg#icon-Facebook">
                </use>
              </svg>
            </a>
          </li>


        </ul>
        <a href="tel:+610383766284" class="footer-link"><span class="footer-link-part">Feel free to contact</span>+61
          (0) 383 766 284</a>
      </div>
    </div>
    <div class="copyright-box">
      <p class="footer-copyright">© 2022 - IceCream. </p>
      <p class="footer-copyright">All Rights Reserved.</p>
    </div>

  </div>


</footer>