<section class=gallery">
    <div class="gallery__container container">
        <!-- h2 спрятать хидденом -->
        <h2 class="gallery__title visually-hidden"> Gallery </h2>
        <ul class="gallery__list">
            <li class="gallery__item">
                <picture class="gallery__picture">
                    <source srcset="./images/gallery/gallery-1_lg@1x.jpg 1x,
                    ./images/gallery/gallery-1_lg@2x.jpg 2x" 
                    media="(min-width: 1200px)"/>
                    <source srcset="./images/gallery/gallery-1_md@1x.jpg 1x,
                    ./images/gallery/gallery-1_md@2x.jpg 2x" 
                    media="(max-width: 1199px)"/>
                    <source srcset="./images/gallery/gallery-1_sm@1x.jpg 1x,
                    ./images/gallery/gallery-1_sm@2x.jpg 2x" 
                    media="(max-width: 767px)"/>
                    <img class="gallery__img" src="./images/gallery/gallery-1_sm@1x.jpg" alt="ice_cream">
                </picture>
            </li>
            <li class="gallery__item">
                <picture class="gallery__picture">
                    <source srcset="./images/gallery/gallery-2_lg@1x.jpg 1x,
                    ./images/gallery/gallery-2_lg@2x.jpg 2x" 
                    media="(min-width: 1200px)"/>
                    <source srcset="./images/gallery/gallery-2_md@1x.jpg 1x,
                    ./images/gallery/gallery-2_md@2x.jpg 2x" 
                    media="(max-width: 1199px)"/>
                    <source srcset="./images/gallery/gallery-2_sm@1x.jpg 1x,
                    ./images/gallery/gallery-2_sm@2x.jpg 2x" 
                    media="(max-width: 767px)"/>
                    <img class="gallery__img" src="./images/gallery/gallery-2_sm@1x.jpg" alt="ice_cream">
                </picture>
            </li>
            <li class="gallery__item">
                <picture class="gallery__picture">
                    <source srcset="./images/gallery/gallery-3_lg@1x.jpg 1x,
                    ./images/gallery/gallery-3_lg@2x.jpg 2x" 
                    media="(min-width: 1200px)"/>
                    <source srcset="./images/gallery/gallery-3_md@1x.jpg 1x,
                    ./images/gallery/gallery-3_md@2x.jpg 2x" 
                    media="(max-width: 1199px)"/>
                    <source srcset="./images/gallery/gallery-3_sm@1x.jpg 1x,
                    ./images/gallery/gallery-3_sm@2x.jpg 2x" 
                    media="(max-width: 767px)"/>
                    <img class="gallery__img" src="./images/gallery/gallery-3_sm@1x.jpg" alt="ice_cream">
                </picture>
            </li> 
        </ul>
    </div>
</section>
