<header class="header">
  <div class="container">
    <a href="./index.html" class="logo">
      <img src="./images/header/logo.png" alt="logo" width="48" height="44"
    /></a>
    <button
      type="button"
      class="menu-open"
      aria-label="Перемикач мобільного меню"
    >
      <svg class="menu-open__icon" width="32px" height="32px">
        <use href="./images/header/menu-open.svg"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu" aria-expanded="false">
    <div class="mobile-menu__container">
      <button
        type="button"
        class="menu-close"
        aria-label="Перемикач мобільного меню"
      >
        <svg class="menu-close__icon" width="32px" height="32px">
          <use href="./images/header/menu-close.svg"></use>
        </svg>
      </button>

      <nav class="navigation-menu">
        <ul class="navigation-menu__list">
          <li class="navigation-menu__item">
            <a href="#" class="navigation-menu__link">Home</a>
          </li>
          <li class="navigation-menu__item">
            <a href="" class="navigation-menu__link">How it’s made?</a>
          </li>
          <li class="navigation-menu__item">
            <a href="" class="navigation-menu__link">Our products</a>
          </li>
          <li class="navigation-menu__item">
            <a href="" class="navigation-menu__link">Contact</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="accent-button" data-modal-open>
        Buy now
        <span class="button-icon__container">
          <i class="button-icon"></i>
        </span>
      </button>
    </div>
  </div>
</header>
