<header class="header">
  <div class="container">
    <div class="header-menu">
      <a href="./index.html" class="logo">
        <!-- <img src="./images/header/logo.png" alt="logo"/> --></a
      >

      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="#" class="navigation__link">Home</a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link">How it's made?</a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link">Our products</a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link">Contact</a>
          </li>
        </ul>
      </nav>

      <button
        type="button"
        class="menu-open"
        aria-label="Перемикач мобільного меню"
      >
        <i class="menu-open__icon"></i>
      </button>
      <button
        type="button"
        class="menu-close"
        aria-label="Перемикач мобільного меню"
      >
        <i class="menu-close__icon"></i>
      </button>
      <button
        type="button"
        class="header-button header-button--marginLeft header-button--desktop"
        data-modal-open
      >
        Buy now
        <span class="header-button__icon-container">
          <i class="header-button__icon"></i>
        </span>
      </button>
    </div>
    <div class="mobile-menu is-hidden" aria-hidden="true">
      <div class="mobile-menu__container">
        <nav class="navigation-menu">
          <ul class="navigation-menu__list">
            <li class="navigation-menu__item">
              <a href="#" class="navigation-menu__link">Home</a>
            </li>
            <li class="navigation-menu__item">
              <a
                href="#howis"
                class="navigation-menu__link navigation-menu__link--black"
                >How it’s made?</a
              >
            </li>
            <li class="navigation-menu__item">
              <a href="" class="navigation-menu__link">Our products</a>
            </li>
            <li class="navigation-menu__item">
              <a href="" class="navigation-menu__link">Contact</a>
            </li>
          </ul>
        </nav>
        <button
          type="button"
          class="header-button header-button--menu"
          data-modal-open
        >
          Buy now
          <span class="header-button__icon-container">
            <i class="header-button__icon"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</header>
