<section class="hero" id="hero">
  <div class="container container--fullHeight">
    <h1 class="hero__title">
      ice cream <br />
      made with <br />
      <span class="hero__accent">passion</span>
    </h1>
    <a href="#productss" class="hero__btn">Products </a>
    <a href="#abouts" class="hero__link">How it’s made?</a>
    <div class="hero__info">
      <span class="hero__number">16<span class="hero__small-text">cafes</span></span>
      <span class="hero__number">23<span class="hero__small-text">food trucks</span></span>
    </div>
    <img class="hero__svgleft" src="./images/header/points-mobile.svg" alt="points" />
    <img class="hero__svgtablet" src="./images/header/points-tablet.svg" alt="points" />
    <img class="hero__svgdesktop" src="./images/header/points-desktop.svg" alt="points" />
    <picture class="hero__imgIce">
      <source srcset="
          ./images/header/ice-desktop-1x-min.png 1x,
          ./images/header/ice-desktop-2x-min.png 2x,
          ./images/header/ice-desktop-3x-min.png 3x
        " media="(min-width:1200px)" />
      <source srcset="
          ./images/header/ice-tablet-1x-min.png 1x,
          ./images/header/ice-tablet-2x-min.png 2x,
          ./images/header/ice-tablet-3x-min.png 3x,
          ./images/header/ice-768-4x-min.png    4x
        " media="(min-width:768px)" />
      <img srcset="
          ./images/header/ice-desktop-1x-min.png 1x,
          ./images/header/ice-desktop-2x-min.png 2x,
          ./images/header/ice-desktop-3x-min.png 3x
        " src="./images/header/ice-desktop-1x-min.png" alt="IceCream" />
    </picture>
    <div class="hero__text-container">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <img class="hero__svgArrow" src="./images/header/ArrowWhite.svg" alt="arrow-white" />
    </div>
    <picture class="hero__img">
      <source srcset="
          ./images/header/hero-320-1x-min.png 1x,
          ./images/header/hero-320-2x-min.png 2x,
          ./images/header/hero-320-3x-min.png 3x
        " media="(max-width:479px)" />
      <source srcset="
          ./images/header/hero-1200-1x-min.png 1x,
          ./images/header/hero-1200-2x-min.png 2x,
          ./images/header/hero-1200-3x-min.png 3x
        " media="(min-width:1200px)" />
      <source srcset="
          ./images/header/hero-768-1x-min.png 1x,
          ./images/header/hero-768-2x-min.png 2x,
          ./images/header/hero-768-3x-min.png 3x,
          ./images/header/hero-768-4x-min.png 4x
        " media="(min-width:768px)" />
      <source srcset="
          ./images/header/hero-480-1x-min.png 1x,
          ./images/header/hero-480-2x-min.png 2x,
          ./images/header/hero-480-3x-min.png 3x
        " media="(min-width:480px)" />
      <img srcset="
          ./images/header/hero-1200-1x-min.png 1x,
          ./images/header/hero-1200-2x-min.png 2x,
          ./images/header/hero-1200-3x-min.png 3x
        " src="./images/header/hero-1200-1x-min.png" alt="IceCream" />
    </picture>
    <img class="hero__svgright" src="./images/header/points-mobile2.svg" alt="points" />
  </div>
</section>