
<!-- Модалка -->

<div class="pr-info-modal modal" data-modal="1">
  <!--   Svg іконка для закриття  -->
  <svg class="pr-info-modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
  </svg>
  <h2 class="pr-info-modal__title">Chocolate<br> icecream</h2>
  <div class="pr-info-modal__img-background">
    <img srcset="./images/product-info-modal/ice-cream-1x.png 1x, ./images/product-info-modal/ice-cream-2x.png 2x, ./images/product-info-modal/ice-cream-4x.png 4x" src="./images/product-info-modal/ice-cream-1x.png" alt="Ice Cream" class="pr-info-modal__img"/>
  </div>
  <ul class="pr-info-modal__list">
    <li class="pr-info-modal__item">
      <p class="pr-info-modal__p--small">kcal</p>
      <div class="pr-info-modal__item-div">320</div>
    </li>
    <li class="pr-info-modal__item">
      <p class="pr-info-modal__p">Prote..</p>
      <div class="pr-info-modal__item-div">4g</div>
    </li>
    <li class="pr-info-modal__item">
      <p class="pr-info-modal__p--small">Fats</p>
      <div class="pr-info-modal__item-div">8,2g</div>
    </li>
    <li class="pr-info-modal__item">
      <p class="pr-info-modal__p">Carbs</p>
      <div class="pr-info-modal__item-div">40,4g</div>
    </li>
  </ul>
  <h2 class="pr-info-modal__title--second">Ingredients</h2>
  <ul class="pr-info-modal__ingredients-list">
    <li class="pr-info-modal__ingredients-item">
      <p>Milk</p>
      <p>100ml</p>
    </li>
    <li class="pr-info-modal__ingredients-item">
      <p>Belgian chocolate</p>
      <p>20g</p>
    </li>
    <li class="pr-info-modal__ingredients-item">
      <p>Cream</p>
      <p>150ml</p>
    </li>
    <li class="pr-info-modal__ingredients-item">
      <p>Cocoa powder</p>
      <p>30g</p>
    </li>
    <li class="pr-info-modal__ingredients-item">
      <p>Sugar</p>
      <p>40g</p>
    </li>
    <li class="pr-info-modal__ingredients-item">
      <p>Vanilla sugar</p>
      <p>10g</p>
    </li>
  </ul>
  <form name="call-form" class="pr-info-modal__call-form">
    <div class="call-form__field">
      <label for="name"></label>
      <input type="text" name="name" id="name" placeholder="Name">
    </div>
    <div class="call-form__field">
      <label for="tel"></label>
      <input type="tel" name="tel" id="tel" placeholder="Phone">
    </div>
    <div class="call-form__field">
      <label for="coment"></label>
      <textarea name="coment" id="coment" rows="3" placeholder="Comment"></textarea>
    </div>
    <div class="call-form__button">
    <button type="submit" class="header-button ">
      Submit
    </button>
    </div>
    </form>
</div>

<!-- Backdrop -->
<div class="pr-info-modal__overlay overlay js-overlay-modal"></div>