<div class="read-more-modal">
  <div class="modal" data-modal="10">
    <button type="button" class="modal__cross js-modal-close"><svg width="24" height="24" class="icon-cross">
        <use href="./images/modal/icons.svg#icon-cross"></use>
      </svg></button>
    <h3 class="read-more-modal__title">How it’s made?</h3>
    <iframe
		class="about-vid"
      width="224"
      height="199"
      src="https://www.youtube.com/embed/8WEMZ86Eho8"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <p class="read-more-modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>