<<<<<<< HEAD
=======

>>>>>>> main
.header-button {
  @extend %btn-base;
  @extend %btn-fill;
  width: 152px;
  height: 42px;
  line-height: 1.2;
  font-size: 14px;
  &__icon-container {
    margin-left: 8px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    color: inherit;
    width: 12px;
    height: 12px;
    background-color: currentColor;
    mask-image: url('../images/header/arrow.svg');
  }
  &--marginBottom {
    margin-bottom: 88px;
  }
  &--marginLeft {
    margin-left: 36px;
  }
  &--desktop {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 1200px) {
      margin-left: auto;
    }
  }
  &--menu {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
<<<<<<< HEAD
=======


>>>>>>> main
