.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 32px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 16px;
  }
}
