.menu-open {
  @extend %none-min;
  @extend %btn-menu;
  &:has(~ .mobile-menu.is-hidden) {
    display: none;
  }
  &__icon {
    display: block;
    width: 32px;
    height: 32px;
    color: $white;
    background-color: currentColor;
    mask-image: url('../images/header/menu-open.svg');
  }
  &__icon:hover,
  &__icon:focus {
    @extend %icon-hover;
  }
}
.menu-close {
  z-index: 1500;
  @extend %btn-menu;
  &__icon {
    display: block;
    width: 32px;
    height: 32px;
    color: $secondary-text-color;
    background-color: currentColor;
    mask-image: url('../images/header/menu-close.svg');
  }
  &__icon:hover,
  &__icon:focus {
    @extend %icon-hover;
  }
}

.mobile-menu {
  @extend %none-min;
  overflow-y: auto;
  /* padding: 0 15px 48px 40px; */
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  text-align: center;
  background-color: $background-color;
  transform: translateX(0%);
  transition: transform 0.3s ease-out;
  top: 0;
  left: 0;
  right: 0;
  &__container {
    height: 100%;
    padding-top: 100px;
    @media screen and (min-width: 480px) {
      padding-top: 104px;
    }
    @media screen and (min-width: 768px) {
      padding-top: 140px;
    }
  }
  &.is-hidden {
    transform: translateX(100%);
  }
}

.navigation-menu {
  margin-bottom: 114px;
  @media screen and (max-width: 479px) {
    margin-bottom: 110px;
  }
  &__item {
    margin-bottom: 32px;
    color: $secondary-text-color;
  }
  &__item:nth-child(4n) {
    margin-bottom: 0px;
  }

  &__link {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    color: inherit;
    transition: color 0.25s ease-in;
    &--black {
      color: $color-primary;
    }
    &:hover,
    &:focus {
      outline: none;
      color: $accent-color;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
