.buy-now__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: $color-primary;
  margin-bottom: 83px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 103px;
  }
}

.buy-now__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    width: 100%;
    gap: 24px;
    justify-content: space-between;
  }
}

.buy-now__item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 132px;
  height: 135px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 95px;
  padding-bottom: 20px;
  border-radius: 15.78px;
  margin-bottom: 86px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0px;
    width: 132px;
  }
}

.buy-now__ice-cream {
  border: 2px solid #AEC6A5;
}

.buy-now__ice-coffee {
  background: #efd478;
  border: 2px solid #efd478;
}

.buy-now__milkshakes {
  border: 2px solid #d6936d;
}

.buy-now__item::before {
  content: '';
  z-index: 120;
  position: absolute;
  top: -66px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 132px;
  height: 132px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.buy-now__item::after {
  content: '';
  z-index: 110;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  top: -63px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
}

.buy-now__ice-cream::after {
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

.buy-now__ice-cream::before {
  content: '';
  background-image: url(../images/buy-now-modal/ice-cream-1x.png);
}

.buy-now__ice-coffee::after {
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.buy-now__ice-coffee::before {
  content: '';
  background-image: url(../images/buy-now-modal/ice-coffee-1x.png);
}

.buy-now__milkshakes::after {
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

.buy-now__milkshakes::before {
  content: '';
  background-image: url(../images/buy-now-modal/milkshake-1x.png);
}

.buy-now__subtitle {
  display: inline-flex;
  align-items: flex-end;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  margin: 0 auto;
}
