.buy-now__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;  
  color: $color-primary;
  margin-bottom: 90px;
  
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 110px;
  }  
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.buy-now__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    width: 100%;        
    justify-content: space-between;
  }
}

.buy-now__box-1::before {
  content: '';
  position: absolute;
  bottom: 50%;
  display: block;
  background-image: url('../images/buy-now-modal/ice-cream-1x.png');
  width: 132px;
  height: 132px;
  border-radius: 50%;
  box-shadow: 0 7px 0 0 #9CBE8F;
}

.buy-now__box-2::before {
  content: '';
  position: absolute;
  bottom: 50%;
  display: block;
  background-image: url('../images/buy-now-modal/ice-coffee-1x.png');
  width: 132px;
  height: 132px;
  border-radius: 50%;
  box-shadow: 0 7px 0 0 #F8D24E;
}

.buy-now__box-3::before {
  content: '';
  position: absolute;
  bottom: 50%;
  display: block;
  background-image: url('../images/buy-now-modal/milkshake-1x.png');
  width: 132px;
  height: 132px;
  border-radius: 50%;
  box-shadow: 0 7px 0 0 #D5753F;
}
.buy-now__box {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 132px;
  height: 136px;  
}

.buy-now__item:not(:last-child) {
  margin-bottom: 64px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.buy-now__box::before {
  background-repeat: no-repeat;
  background-position: center;
}
.buy-now__box-1 {
  border: 2px solid #96af8c;
  border-radius: 15px;
}
.buy-now__box-2 {
  background: #efd478;
  border: 2px solid #efd478;  
  border-radius: 15px;
}
.buy-now__box-3 {
  border: 2px solid #d6936d;
  border-radius: 15px;
}

.buy-now__item__title {
  display: inline-flex;
  align-content: center;
  align-items: flex-end;
  margin: 0 auto;
  // margin-top: 30px;  
}

.buy-now__p {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 20px;
}
