.contacts {
  margin-top: -349px;
  /* @media screen and (min-width: 480px) {
    margin-top: -349px;
  } */

  @media screen and (min-width: 768px) {
    margin-top: -299px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: -80px;
  }
}

.contacts-box {
  padding-bottom: 6px;
  @include tablet{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 40px;
  }
  @include desktop{
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-bottom: 60px;
  }
  
 
}
.contacts-card {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
  &:not(last child) {
  margin-bottom: 16px;
  }
  background-color: white;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  @include tablet {
  padding-bottom: 40px;
  padding-left: 24px;
  padding-right: 24px;
  flex-basis: calc((100% - 32px) / 3);
  font-size: 14px;
  letter-spacing: 0.04em;
  }
  @include desktop {
  max-width: 100%;
  flex-basis: calc((100% - 64px) / 3);
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  font-size: 16px;
  letter-spacing: 0.04em;
  }
}
.contacts-card__type {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  @include tablet{
  margin-bottom: 32px;
  }
  
}
.contacts-place {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  color: $color-primary;
  background-color: $accent-color;
  @include tablet {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
  }
  @include desktop {
    padding-left: 14px;
    padding-right: 14px;
  }
}
.contacts-card__city {
  margin-bottom: 8px;
  line-height: 186%;
  color: $color-primary;
  @include tablet{
  margin-bottom: 12px;
  }
  @include desktop{
  margin-bottom: 8px;
  }
}
.contacts-card__adress {
  padding-right: 32px;
  padding-bottom: 24px;
  line-height: 183%;
  color: rgba(214, 147, 109, 1);
  @include tablet{
  margin-bottom: 32px;
  padding-right: 12px;
  }
 
  @include desktop{
  margin-bottom: 32px;
  padding-right: 40px;
  }
}
.contacts-card__timetable {
  line-height: 186%;
  color: $color-primary;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(225, 225, 225, 1);
  border-top: 1px solid rgba(225, 225, 225, 1);
  @media screen and (min-width: 768px){
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 32px;
  }
  
}
.contacts-card__timetable-color {
  color: rgba(144, 126, 130, 1);
}
.timetable-distance {
  margin-bottom: 8px;
  @include tablet{
  margin-bottom: 12px;
  }
}

.contacts-card__info {
  line-height: 160%;
  color: $color-primary;
}
.contacts-card__tel {
  margin-bottom: 6px;
  color: $color-primary;
  @include tablet{
  margin-bottom: 4px;
  }
}
.contacts-card-info__mail {
  color: $color-primary;
}
.contacts-button-location {
  display: block;
  margin-bottom: 16px;
  width: 196px;
  height: 42px;
  color: $color-primary;
  background-color: #F8D24E;
  border: 2px solid transparent;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(10, 136, 23, 1);
  }
  &:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(10, 136, 23, 1);
  }
  @include tablet {
  display: inline-block;
  margin-right: 16px;
  margin-left: 165px;
  margin-bottom: 0;
  }
  @include desktop {
  margin-left: 381px;
  }
}
.contacts-button-franchise {
  display: block;
  width: 196px;
  height: 42px;
  color: $color-primary;
  background-color: transparent;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    border: 2px solid rgba(10, 136, 23, 1);
  }
  &:focus {
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(10, 136, 23, 1);
  }
  @include tablet {
  display: inline-block;
  }
}
