.gallery {
    max-width: 100%;    
}

.gallery__container {
    padding: 0 20px;

    @media screen and (min-width: 768px) {
        padding: 0 32px;
    }

    @media screen and (min-width: 1200px) {
        padding: 0 93px;
    }
}

.gallery__list {
    position: relative;
    width: 100%;
    height: 130px;
    margin: 0 auto;

    border-radius: 8px;

    @media screen and (min-width: 768px) {
        width: 704px;
        height: 327px;

        border-radius: 18px;
    }

    @media screen and (min-width: 1200px) {
        width: 1013px;
        height: 422px;

        border-radius: 24px;
    }
}

.gallery__item {
    position: absolute;
    left: 0; 

    // потрібна анімація
}

.gallery__img {
    border-radius: 8px;

    @media screen and (min-width: 768px) {
        border-radius: 18px;
    }

    @media screen and (min-width: 1200px) {
        border-radius: 24px;
    }
}