.overlay {

  /* Ховаємо підкладку */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 20;
  transition: .3s all;
  overflow-y: scroll;
}

.modal {
  /* Ховаєм вікна */
  opacity: 0;
  visibility: hidden;
  
  max-width: 280px;
  padding: 28px;
  height: auto;

  /*  Центрируємом и задаємо z-index вищий за підкладку*/
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 30;

  @media screen and (min-width: 768px) {    
    min-width: 568px;
    padding: 32px 60px;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;  
  
  border: 1px solid $accent-color;
  border-radius: 10px;

  background: $secondary-text-color;
  
  &__map {    
    width: 224px;
    height: 199px;
    background-image: url('../images/modal/rectangle-224.jpg');
    block-size: cover;
    border: 1px solid $accent-color;
    border-radius: 10px;
    margin-bottom: 24px;
    
    @media screen and (min-width: 768px) {
      width: 448px;
      height: 260px;
      background-image: url('../images/modal/rectangle-448.jpg');
      margin-bottom: 32px;
    }    
  }
  
  &__heading {
    display: flex;
    max-width: 322px;
    margin-bottom: 20px;

    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;      
  
    display: flex;
    align-items: center;
    text-align: center;
  
    color: $color-primary;
    
    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: 1.4;
      margin-bottom: 24px;
    }
  }  

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
  
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 24px;
  
    color: $color-primary;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      margin-bottom: 32px;
    }
  }

  &__input-group {
    display: flex;      
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
    }
  }

  &__input-wrapper {
    display: flex;
    width: 100%;  
  }

  &__input {
    display: flex;
    width: 100%;
    align-content: center;
    max-width: 100%;
    height: 42px;
    padding: 11px 16px;    
    border: 1px solid $background-color;
    border-radius: 10px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: $color-primary;

    transform: border-color 250ms $timing-function;
  }

  &__input::placeholder {
    color: $color-primary;    
  }

  &__input:hover,
  &__input:focus {
    border-color: $button-hover;
  }
  
  &__cross {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 0;
    top: 12px;
    right: 12px;
    border: $secondary-text-color;

    @media screen and (min-width: 768px) {
      width: 24px;
      height: 24px;
    }
  }
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;  
}

// .modal__input-group:last-child {
//   margin-bottom: 24px;

//   @media screen and (min-width: 768px) {
//     margin-bottom: 32px;
//   }
// }

.modal__lab-form {
  display: block;
  width: 100%;  
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: $color-primary;

  @media screen and (min-width: 768px) {
    padding: 0 40px;
  }
}

.modal__text {
  width: 100%;
  height: 64px;
  border: 1px solid $background-color;
  border-radius: 10px;
  padding: 11px 16px;
  resize: none;
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: $color-primary;

  @media screen and (min-width: 768px) {
    height: 84px;
    margin-bottom: 16px;
  }

  &:hover,
  &::placeholder {
    background-color: transparent;
    border-color: $button-hover;
    color: $color-primary;
  }
}

.form-send-btn {
  display: inline-block;
  padding: 12px 34px;
  border-radius: 10px;
  border-color: transparent;
  background-color: $accent-color;
  font-weight: 700;
  margin: 0 auto;

  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  display: flex;
  align-items: center;
  text-align: center;  
  color: $color-primary;

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $button-hover;
  }
  
  &:focus {
    color: $white;    
  }
}

.icon-cross {
  width: 100%;
  height: 100%; 
  background-color: transparent;
  fill: $color-primary;
  border: none;  

  &:hover,
  &:focus {
    fill: $button-hover;
  }
}