@import './buy-now-modal';
@import './hero';
@import './product';
@import './about';
@import './advantages';
@import './gallery';
@import './customer-reviews';
@import './contacts';
@import './footer';
@import './form-request';
@import './form-subscription';
@import './locations-franchise-modal';
