.product {
  padding-top: 60px;

  @media screen and (max-width: 480px) {
    background-image: url(../images/products/Backgroud_mobile.svg);
  }

  @media screen and (min-width: 480px) {
    background-image: url(../images/products/Backgroud_mobile.svg);
  }

  @media screen and (min-width: $tablet) {
    background-image: url(../images/products/Background_tablet.svg);
  }

  @media screen and (min-width: $desktop) {
    background-image: url(../images/products/Backgroud_desktop.svg);
  }
}

.product__background {
  height: 428px;
  width: 100%;
  padding: 126px 40px 0;
  border-radius: 16px;
}

.product__background--green {
  background: #aec6a5;
}

.product__image__box {
  height: 211px;
  width: 200px;
  position: absolute;
}

.product-lable__title {
  margin-bottom: 12px;
  text-align: center;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 30px;
  }
}

.product__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media screen and (min-width: $mobile) {
  }

  @media screen and (min-width: $tablet) {
    font-size: 34px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    letter-spacing: 0.06em;
  }
}

.product__list {
  padding-bottom: 6px;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 60px;
  }

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    // padding-bottom: 60px;
  }
}

// List

.product__card {
  position: relative;
  border-radius: 24px;
  max-width: 280px;
  margin: 0 auto;
  /* padding: 129px 32px 16px; */
  height: 533px;
  padding-top: 100px;

  /* &:not(last child) {
    margin-bottom: 171px;
  } */

  @media screen and (min-width: $tablet) {
    max-width: 224px;
    padding-top: 108px;
    padding-bottom: 16px;
    padding-left: 26px;
    padding-right: 26px;
    flex-basis: calc((100% - 32px) / 3);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 64px) / 3);
    max-width: 370px;
    padding-top: 165px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 16px;
  }
}

.product__subtittle {
  font-size: 20px;
  line-height: 1.23;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    margin-bottom: 66px;
  }
}

.product__text {
  margin-bottom: 101px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.04em;
  line-height: 1.78;

  @media screen and (min-width: $desktop) {
    width: $desktop;
    font-size: 16px;
    line-height: 1.78;
  }
}

.product__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.products__button-arrow {
  width: 40px;
  height: 16px;
}



.ice-cream__card {
  box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
  /* border-radius: 15.7808px; */

  /*  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #aec6a5;

    @media screen and (max-width: $mobile) {
      top: -114px;
      width: 200px;
      height: 200px;
      background-image: url(../images/products/ice-cream-mobile.png);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-cream-mobilex2.png);
      }
    }

    @media screen and (min-width: $tablet) {
      top: -102px;
      width: 220px;
      height: 200px;
      background-image: url(../images/products/ice-cream-mobile.png);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-cream-mobilex2.png);
      }
    }

    @media screen and (min-width: $desktop) {
      top: -210px;
      width: 302px;
      height: 302px;
      background-image: url(../images/products/ice-cream-decktop.png);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-cream-decktopx2.png);
      }
    }
  } */
}

.ice-coffee__card {
  background: #efd478;
  border-radius: 15.7808px;
}

.milkshakes__card {
  background: #d6936d;
  border-radius: 15.7808px;
}
